html, body{
    margin: 0;
    padding: 0;
    background:rgb(182, 240, 240);
}
canvas{
    display: block;
    margin: 100px auto;
    border-radius: 10px;
}
h1{
    font-family: cursive;
    font-size: 40px;
    font-weight: bold;
    margin: 20px 600px;
    color: brown;
}
p{
    font-family: cursive;
    font-weight: bold;
    margin-left: 600px;
}
button{
    display: block;
    border: 3px solid brown;
    font-family: cursive;
    width: 100px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 600px;
    cursor: pointer;
    background: white;
}